@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Libre+Baskerville:wght@400;700&family=Roboto+Slab&display=swap');
*{
    padding: 0;
    margin: 0;
    text-align: center; 
}

.back-side{
    width: 1000px;
    height: 600px;
}

.image{
    width: 1000px;
    max-height: 600px;
}

.front-side{
    background-color: #fff;
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50px;
    opacity: 0.9;
}

.certificate{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 42px;
    font-family: 'Libre Baskerville', sans-serif;
}

.first-line{
    text-align: center;
    border: none;
    border-top: 2px solid #d1a557;
    max-width: 400px;
    margin-left: 300px;
    margin-right: 250px;
}

.achievement{
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 16px;
    position: relative;
    top: -10px;
    box-sizing: border-box;
    background-color:white;
    padding: 0 10px;
}

.present{
    padding-top: 20px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 14px;
    padding-bottom: 20px;
}
  
.name{
    padding-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.convention{
    padding: 60px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    position: relative;
    padding-top: 15px;
}

.left-line{
    width: 63px;
    height: 350px;
    background-color: #d1a557;
    transform: rotate(38deg);
    position: absolute;
    bottom: 275px;
    left: 50px;
}

.right-line{
    width: 63px;
    height: 360px;
    background-color: #d1a557;
    transform: rotate(35deg);
    position: absolute;
    top: 230px;
    right: 30px;
    overflow: hidden !important;
}

.second-line{
    border: none;
    border-top: 2px solid #d1a557;
    max-width: 500px;
    margin-left: 300px;
    margin-right: 300px;
}

.logo{
    max-width: 15%;
    height: 70px;
    background-color:white;
    padding: 0 30px;
    position: absolute;
    top: 350px;
    right: 440px;
}

.first-name{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    position: absolute;
    left:320px;
    bottom: 50px;
}

.left-corner{
    width: 0;
    height: 0;
    border: 100px solid transparent;
    transform: rotate(180deg);
    border-bottom-color: #222222;
    border-right-color:#222222;
    position: absolute;
    bottom: 350px;
    right: 800px;
}

.right-corner{
    width: 0;
    height: 0;
    border: 100px solid transparent;
    border-bottom-color: #222222;
    border-right-color:#222222;
    position: absolute;
    top: 350px;
    left: 800px;
}

.box-1{
    width: 100px !important;
    height: 90px !important;
    background-color: #fff;
    position: absolute;
    left: 800px;
}

.box-2{
    width: 80px !important;
    height: 150px !important;
    background-color: #fff;
    position: absolute;
    left: 1000px;
    bottom: 200px;

}